
# Created by https://www.gitignore.io/api/wordpress,magento,codeigniter,laravel,drupal

### WordPress ###
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz



### Magento ###
.htaccess.sample
.modgit/
.modman/
app/code/community/Phoenix/Moneybookers/
app/code/community/Cm/RedisSession/
app/code/core/
app/design/adminhtml/default/default/
app/design/frontend/base/
app/design/frontend/rwd/
app/design/frontend/default/blank/
app/design/frontend/default/default/
app/design/frontend/default/iphone/
app/design/frontend/default/modern/
app/design/frontend/enterprise/default
app/design/install/
app/etc/modules/Enterprise_*
app/etc/modules/Mage_*.xml
app/etc/modules/Phoenix_Moneybookers.xml
app/etc/modules/Cm_RedisSession.xml
app/etc/applied.patches.list
app/etc/config.xml
app/etc/enterprise.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/local.xml
app/.htaccess
app/bootstrap.php
app/locale/en_US/
app/Mage.php
/cron.php
cron.sh
dev/.htaccess
dev/tests/functional/
downloader/
errors/
favicon.ico
/get.php
includes/
/index.php
index.php.sample
/install.php
js/blank.html
js/calendar/
js/enterprise/
js/extjs/
js/firebug/
js/flash/
js/index.php
js/jscolor/
js/lib/
js/mage/
js/prototype/
js/scriptaculous/
js/spacer.gif
js/tiny_mce/
js/varien/
lib/3Dsecure/
lib/Apache/
lib/flex/
lib/googlecheckout/
lib/.htaccess
lib/LinLibertineFont/
lib/Mage/
lib/PEAR/
lib/Pelago/
lib/phpseclib/
lib/Varien/
lib/Zend/
lib/Cm/
lib/Credis/
lib/Magento/
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
/mage
media/
/api.php
nbproject/
pear
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
shell/.htaccess
shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php
sitemap.xml
skin/adminhtml/default/default/
skin/adminhtml/default/enterprise
skin/frontend/base/
skin/frontend/rwd/
skin/frontend/default/blank/
skin/frontend/default/blue/
skin/frontend/default/default/
skin/frontend/default/french/
skin/frontend/default/german/
skin/frontend/default/iphone/
skin/frontend/default/modern/
skin/frontend/enterprise
skin/install/
var/

### Magento Patch ###
app/bootstrap.php
shell/.htaccess
dev/tests/functional


### CodeIgniter ###
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess


### Laravel ###
vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/


### Drupal ###
# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
files/
sites/*/files
sites/*/private

# Ignore default text files
robots.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL*.txt
/LICENSE.txt
/MAINTAINERS.txt
/UPGRADE.txt
/README.txt
sites/README.txt
sites/all/modules/README.txt
sites/all/themes/README.txt

# Ignore everything but the "sites" folder ( for non core developer )
.htaccess
web.config
authorize.php
cron.php
index.php
install.php
update.php
xmlrpc.php
/includes
/misc
/modules
/profiles
/scripts
/themes
